* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
    max-width: 1200px;
    height: 560px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: -3px 3px 8px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

@media screen and (max-width: 576px) {
    main {
        border-radius: 0;
        box-shadow: unset;
    }
}

.avatar--default {
    background-image: url('./assets/image/user-avatar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.circle--skeleton {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    position: relative;
}

.circle--skeleton::after {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 8px;
    height: 120%;
    background-color: white;
    transform: skewX(-30deg);
    animation: moveLight 1s 0.2s ease-out infinite running;
}

@keyframes moveLight {
    from {
        left: -20px;
    }
    to {
        left: 120%;
    }
}

.background--spring {
    background-image: url('./assets/image/spring.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.background--summer {
    background-image: url('./assets/image/summer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.background--fall {
    background-image: url('./assets/image/fall.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.background--winter {
    background-image: url('./assets/image/winter.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
